body{
color:white;
background:black;.eater-regular {
  font-family: "Eater", serif;
  font-weight: 400;
  font-style: normal;
}

}

.chamada{
    background:rgb(23, 6, 92);
    padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;

}